# Visual Studio
.vs/
x64/
Debug/
Release/

# Build-Dateien
*.obj
*.pdb
*.ilk
*.ipch
*.xpl
*.exp
*.lib
*.log
Flight Radar Sim Projekt/version_generated.h

# Konfigurationen mit Zugangsdaten
config.txt
.env
voice-service/.env
voice-service/node_modules/
