VOICE_HOST=0.0.0.0
VOICE_PORT=8090

DB_HOST=127.0.0.1
DB_NAME=flight_network
DB_USER=root
DB_PASS=

UNICOM_FREQUENCY=122.800
UNICOM_GLOBAL=1

RANGE_GND_NM=30
RANGE_TWR_NM=60
RANGE_APP_NM=150
RANGE_CTR_NM=400
RANGE_DEFAULT_NM=200
