<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <add name="Permissions-Policy" value="camera=(), geolocation=(), payment=(), usb=()" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering removeServerHeader="true">
                <hiddenSegments>
                    <add segment=".git" />
                    <add segment="database" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="VFN Voice Service" enabled="true" stopProcessing="true">
                    <match url="^voice/(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:8090/{R:1}" />
                </rule>
                <rule name="VFN Voice WebSocket Root" enabled="true">
                    <match url="^voice$" />
                    <action type="Rewrite" url="http://127.0.0.1:8090/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
